{% load staticfiles %}
<html>
    <head>
        <title>Django Girls Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
            <h1><a href="/">Hi {{ user.username }}, welcome to my blog</a></h1>
            <h2>
                <a href="/" class="top-left">Home</a>
                <a href="{% url 'logout' %}" class="top-menu">Log out</a>
                <div class="top-menu"> | </div>
                <a href="{% url 'account' %}" class="top-menu">Account</a>
            </h2>
          {% else %}
            <h1><a href="/">Hi stranger, welcome to my blog</a></h1>
            <h2>
                <a href="/" class="top-left">Home</a>
                <a href="{% url 'login' %}" class="top-menu">Log in</a>
                <div class="top-menu"> | </div>
                <a href="{% url 'register' %}" class="top-menu">Register</a>
            </h2>
          {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
